/*................................................
    common styles
..................................................*/

/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
}
/*................................................
    navbar style
..................................................*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.logo{
    align-items: center;
}
.logo img{
    width: 200px;
    height: 80px;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li, a{
    text-decoration: none;
    list-style: none;
    margin-right: 15px;
    font-weight: 600;
    color: #3A3A3A;
}
.navbar a:hover{
    text-decoration: underline;
}
.extra:last-child{
    margin-right: 0px;
}
.navbar-toggle{
    display: none;
    font-size: 25px;
}
.extra i{
    font-size: 30px;
    color: #e20347;
    font-weight: bold;
}


/*................................................
    main upper section style
..................................................*/

.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-section h1{
    font-size: 50px;
    color: #3A3A3A;
}
.header-section p{
    font-weight: 500;
    color: #3A3A3A;
}
.main-camera{
    background-image: url(./images/Circle.svg);
    height: 100%;
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
}
.main-camera img:hover{
    transform: translate3d(25px, 25px, 100px);
    transition: all 0.7s ease;
}
.main-button{
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 20px;
    background-image: linear-gradient(#e20347, #e02e63);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.main-button:hover i{
    transform: translate(20px,0);
    transition: 1s;
}
.main-button:hover{
    background-image: linear-gradient(#e02e63, #e20347);
}
.company-names{
    margin-top: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid rgb(209, 208, 208);
    border-bottom: 2px solid rgb(209, 208, 208);
}

/*................................................
    popular collection style
..................................................*/

.section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    color: #3A3A3A;
}
.popular-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.7em;
}
.product{
    box-shadow: 2px 5px 16px 0px #cacdd1;
    padding: 15px;
    border-radius: 5px;
    color: #3A3A3A;
}
.product h3{
    margin: 5px 0px;
    font-weight: 400;
    font-size: 22px;
}
.product span i{
    color: rgb(245, 100, 47);
    font-size: .5px;
}
.product img{
    width: 100%;
}
.anchor-link{
   color: #e20347;
   display: inline-block;
   text-align: right;
   width: 100%;
   margin-top: 40px;
}
.anchor-link:hover{
    text-decoration: underline;
}

/*................................................
    footer style
..................................................*/

footer{
    background-color: #0B0D17;
    color: white;
    text-align: center;
    padding: 30px;
}
.social-icon i{
    background-color: rgba(128, 128, 128, 0.294);
    padding: 7px;
    border-radius: 50%;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
}

/*................................................
    blog section style
..................................................*/
.tools-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.tools-cart{
    box-shadow: 2px 5px 16px 0px #cacdd1;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid black;
    color: #3A3A3A;
    text-align: center;
    font-weight: bold;
}
.tools-cart img{
    border: 2px solid black;
    width: 100%;
    border-radius: 5px;
}
.tools-cart span i{
    margin: 5px;
    font-size: 20px;
    color: coral;
    background-color: rgb(221, 219, 219);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

/*................................................
    featured area style
..................................................*/
.featured-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-text{
    margin-left: 10%;
}


/*................................................
    mobile responsive area style
..................................................*/

@media only screen and (max-width: 450px) {
    .popular-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product{
        margin-bottom: 10px;
    }
    .tools-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .header-section{
        justify-content: center;
        align-items: center;
    }
    footer{
        width: 100%;
    }
    .featured-section{
       flex-direction: column;
    }
}


/*................................................
    tabla responsive area style
..................................................*/

@media only screen and (max-width: 770px) {
    .navbar-toggle{
        display: block;
    }
    .navbar .nav-links{
        flex-wrap: wrap;
        display: none;
    }
    .logo{
        width: 200px;
        height: 50px;
    }
    .header-section{
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }
    .main-camera{
        margin-bottom: 30px;
    }
    .company-names{
        margin: 7px;
    }
    .main-button{
        margin-bottom: 10px;
    }
    .popular-products{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .tools-container{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-self: center;
    }
    .featured-section{
        flex-direction: column;
    }
}